{
  "extends": [
    "eslint:recommended", 
    "airbnb-base",
    "plugin:cypress/recommended"
  ],
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "rules": {
    "quotes": ["error", "double"]
  }
}
